h1{

    color: red;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: blueviolet;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h3{

    color: aqua;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: purple;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30;
}